
# Node.js
node_modules/
npm-debug.log
.env
package-lock.json
yarn.lock

# Logs
logs
*.log
log.txt

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Build
dist/
build/
.next/

# Misc
.env.local
.env.*.local

# Mac & Linux
*.swp

# Windows
*.exe
*.dll

# React
*.cache
.cache/
